In [2]:
# Reload modules automatically
# https://ipython.readthedocs.io/en/stable/config/extensions/autoreload.html
%load_ext autoreload
%autoreload 2

In [3]:
import utils
import pandas as pd

In [7]:
start_id = 1
end_id = 170
n_seeds = 10
hyperparams = ["regularizer", "depth"]
pred_method = "svm"
dataset = "citeseer_binary"
collection= "l_citeseerb_hyper_ntk_gcn_depth" #todo: rename colelction to trn_ntk_gcn
df = utils.get_best_hyperparams(start_id, end_id, n_seeds, hyperparams, 
                           pred_method, dataset, collection, use_seeds=10)
df

---- Details of best experiment ----
ID: 131 ValAcc: 77.00 +- 10.77 TrnAcc: 100.00 +- 0.00 TestAcc: 84.42 +- 3.53
------------------------------------

               ValAcc            TrnAcc  regularizer  depth
131  0.7700 +- 0.1077  1.0000 +- 0.0000       2.5000      2
141  0.7700 +- 0.1077  1.0000 +- 0.0000       5.0000      2
151  0.7700 +- 0.1077  1.0000 +- 0.0000       7.5000      2
161  0.7700 +- 0.1077  1.0000 +- 0.0000      10.0000      2
91   0.7600 +- 0.1261  0.9950 +- 0.0150       0.2500      2
101  0.7600 +- 0.1261  0.9950 +- 0.0150       0.5000      2
111  0.7600 +- 0.1261  0.9950 +- 0.0150       0.7500      2
121  0.7600 +- 0.1261  0.9950 +- 0.0150       1.0000      2
81   0.7450 +- 0.1350  0.9900 +- 0.0200       0.1000      2
71   0.7450 +- 0.1350  0.9900 +- 0.0200       0.0750      2
61   0.7450 +- 0.1457  0.9850 +- 0.0229       0.0500      2
51   0.6400 +- 0.1221  0.9900 +- 0.0200       0.0250      2
1    0.5800 +- 0.0900  0.9700 +- 0.0400       0.0010      2
11   0.5800 +- 0.0900  0.9700 +- 0.0400       0.0025      2
21   0.5800 +- 0.0900  0.9700 +- 0.0400       0.0050      2
31   0.5800 +- 0.0900  0.9700 +- 0.0400       0.0075      2
41   0.5800 +- 0.0900  0.9700 +- 0.0400       0.0100      2

In [11]:
start_id = 171
end_id = 340
n_seeds = 10
hyperparams = ["regularizer", "depth"]
pred_method = "svm"
dataset = "citeseer_binary"
collection= "l_citeseerb_hyper_ntk_gcn_depth" #todo: rename colelction to trn_ntk_gcn
df = utils.get_best_hyperparams(start_id, end_id, n_seeds, hyperparams, 
                           pred_method, dataset, collection, use_seeds=10)
df

---- Details of best experiment ----
ID: 311 ValAcc: 75.00 +- 9.75 TrnAcc: 100.00 +- 0.00 TestAcc: 80.70 +- 4.30
------------------------------------

               ValAcc            TrnAcc  regularizer  depth
311  0.7500 +- 0.0975  1.0000 +- 0.0000       5.0000      4
321  0.7500 +- 0.0975  1.0000 +- 0.0000       7.5000      4
331  0.7500 +- 0.0975  1.0000 +- 0.0000      10.0000      4
271  0.7300 +- 0.1229  0.9950 +- 0.0150       0.5000      4
281  0.7300 +- 0.1229  0.9950 +- 0.0150       0.7500      4
291  0.7300 +- 0.1229  0.9950 +- 0.0150       1.0000      4
301  0.7300 +- 0.1229  1.0000 +- 0.0000       2.5000      4
261  0.7250 +- 0.1250  1.0000 +- 0.0000       0.2500      4
251  0.6950 +- 0.1404  0.9850 +- 0.0229       0.1000      4
241  0.6850 +- 0.1184  0.9800 +- 0.0245       0.0750      4
231  0.6600 +- 0.1091  0.9700 +- 0.0400       0.0500      4
221  0.6300 +- 0.1166  0.9550 +- 0.0415       0.0250      4
211  0.5700 +- 0.1536  0.9650 +- 0.0391       0.0100      4
201  0.5700 +- 0.1418  0.9200 +- 0.0714       0.0075      4
171  0.5550 +- 0.1213  0.9000 +- 0.0894       0.0010      4
181  0.5550 +- 0.1213  0.9000 +- 0.0894       0.0025      4
191  0.5550 +- 0.1213  0.9000 +- 0.0894       0.0050      4

In [9]:
start_id = 1
end_id = 170
n_seeds = 10
hyperparams = ["regularizer", "depth"]
pred_method = "svm"
dataset = "citeseer_binary"
collection= "l_citeseerb_hyper_ntk_gcn_skippc_depth" #todo: rename colelction to trn_ntk_gcn
df = utils.get_best_hyperparams(start_id, end_id, n_seeds, hyperparams, 
                           pred_method, dataset, collection, use_seeds=10)
df

---- Details of best experiment ----
ID: 91 ValAcc: 78.50 +- 9.50 TrnAcc: 100.00 +- 0.00 TestAcc: 84.36 +- 3.48
------------------------------------

               ValAcc            TrnAcc  regularizer  depth
91   0.7850 +- 0.0950  1.0000 +- 0.0000       0.2500      2
101  0.7850 +- 0.0950  1.0000 +- 0.0000       0.5000      2
111  0.7850 +- 0.0950  1.0000 +- 0.0000       0.7500      2
121  0.7850 +- 0.0950  1.0000 +- 0.0000       1.0000      2
131  0.7850 +- 0.0950  1.0000 +- 0.0000       2.5000      2
141  0.7850 +- 0.0950  1.0000 +- 0.0000       5.0000      2
151  0.7850 +- 0.0950  1.0000 +- 0.0000       7.5000      2
161  0.7850 +- 0.0950  1.0000 +- 0.0000      10.0000      2
61   0.7800 +- 0.1187  0.9950 +- 0.0150       0.0500      2
71   0.7750 +- 0.1124  0.9950 +- 0.0150       0.0750      2
81   0.7750 +- 0.1124  0.9950 +- 0.0150       0.1000      2
51   0.7500 +- 0.1265  1.0000 +- 0.0000       0.0250      2
41   0.6800 +- 0.1382  0.9900 +- 0.0200       0.0100      2
31   0.6550 +- 0.1254  0.9900 +- 0.0200       0.0075      2
1    0.6400 +- 0.1200  0.9900 +- 0.0200       0.0010      2
11   0.6400 +- 0.1200  0.9900 +- 0.0200       0.0025      2
21   0.6400 +- 0.1200  0.9900 +- 0.0200       0.0050      2

In [12]:
start_id = 171
end_id = 340
n_seeds = 10
hyperparams = ["regularizer", "depth"]
pred_method = "svm"
dataset = "citeseer_binary"
collection= "l_citeseerb_hyper_ntk_gcn_skippc_depth" #todo: rename colelction to trn_ntk_gcn
df = utils.get_best_hyperparams(start_id, end_id, n_seeds, hyperparams, 
                           pred_method, dataset, collection, use_seeds=10)
df

---- Details of best experiment ----
ID: 261 ValAcc: 78.50 +- 9.50 TrnAcc: 100.00 +- 0.00 TestAcc: 84.42 +- 4.00
------------------------------------

               ValAcc            TrnAcc  regularizer  depth
261  0.7850 +- 0.0950  1.0000 +- 0.0000       0.2500      4
271  0.7850 +- 0.0950  1.0000 +- 0.0000       0.5000      4
281  0.7850 +- 0.0950  1.0000 +- 0.0000       0.7500      4
291  0.7850 +- 0.0950  1.0000 +- 0.0000       1.0000      4
301  0.7850 +- 0.0950  1.0000 +- 0.0000       2.5000      4
311  0.7850 +- 0.0950  1.0000 +- 0.0000       5.0000      4
321  0.7850 +- 0.0950  1.0000 +- 0.0000       7.5000      4
331  0.7850 +- 0.0950  1.0000 +- 0.0000      10.0000      4
231  0.7700 +- 0.1229  0.9950 +- 0.0150       0.0500      4
241  0.7700 +- 0.1229  0.9950 +- 0.0150       0.0750      4
251  0.7700 +- 0.1229  0.9950 +- 0.0150       0.1000      4
211  0.7550 +- 0.1331  0.9900 +- 0.0200       0.0100      4
221  0.7550 +- 0.1331  0.9950 +- 0.0150       0.0250      4
201  0.7050 +- 0.1331  0.9950 +- 0.0150       0.0075      4
191  0.6450 +- 0.1254  0.9900 +- 0.0200       0.0050      4
181  0.5900 +- 0.1091  0.9800 +- 0.0332       0.0025      4
171  0.5850 +- 0.1026  0.9800 +- 0.0332       0.0010      4

In [17]:
start_id = 1
end_id = 680
n_seeds = 10
hyperparams = ["regularizer", "skip_alpha", "depth"]
pred_method = "svm"
dataset = "citeseer_binary"
collection= "l_citeseerb_hyper_ntk_gcn_skipalpha_depth" #todo: rename colelction to trn_ntk_gcn
df = utils.get_best_hyperparams(start_id, end_id, n_seeds, hyperparams, 
                           pred_method, dataset, collection, use_seeds=10)
df

---- Details of best experiment ----
ID: 391 ValAcc: 77.50 +- 8.73 TrnAcc: 100.00 +- 0.00 TestAcc: 83.56 +- 2.15
------------------------------------

               ValAcc            TrnAcc  regularizer  skip_alpha  depth
391  0.7750 +- 0.0873  1.0000 +- 0.0000       0.2500         0.5      2
431  0.7750 +- 0.0873  1.0000 +- 0.0000       0.5000         0.5      2
471  0.7750 +- 0.0873  1.0000 +- 0.0000       0.7500         0.5      2
511  0.7750 +- 0.0873  1.0000 +- 0.0000       1.0000         0.5      2
551  0.7750 +- 0.0873  1.0000 +- 0.0000       2.5000         0.5      2
..                ...               ...          ...         ...    ...
11   0.5800 +- 0.1005  0.9950 +- 0.0150       0.0010         0.2      2
51   0.5800 +- 0.1005  0.9950 +- 0.0150       0.0025         0.2      2
91   0.5800 +- 0.1005  0.9950 +- 0.0150       0.0050         0.2      2
131  0.5800 +- 0.1005  0.9950 +- 0.0150       0.0075         0.2      2
171  0.5800 +- 0.1005  0.9950 +- 0.0150       0.0100         0.2      2

[68 rows x 5 columns]

In [18]:
start_id = 681
end_id = 1360
n_seeds = 10
hyperparams = ["regularizer", "skip_alpha", "depth"]
pred_method = "svm"
dataset = "citeseer_binary"
collection= "l_citeseerb_hyper_ntk_gcn_skipalpha_depth" #todo: rename colelction to trn_ntk_gcn
df = utils.get_best_hyperparams(start_id, end_id, n_seeds, hyperparams, 
                           pred_method, dataset, collection, use_seeds=10)
df

---- Details of best experiment ----
ID: 1071 ValAcc: 77.50 +- 9.29 TrnAcc: 100.00 +- 0.00 TestAcc: 82.33 +- 3.25
------------------------------------

                ValAcc            TrnAcc  regularizer  skip_alpha  depth
1071  0.7750 +- 0.0929  1.0000 +- 0.0000       0.2500         0.5      4
1111  0.7750 +- 0.0929  1.0000 +- 0.0000       0.5000         0.5      4
1151  0.7750 +- 0.0929  1.0000 +- 0.0000       0.7500         0.5      4
1191  0.7750 +- 0.0929  1.0000 +- 0.0000       1.0000         0.5      4
1231  0.7750 +- 0.0929  1.0000 +- 0.0000       2.5000         0.5      4
...                ...               ...          ...         ...    ...
681   0.5500 +- 0.1072  0.9650 +- 0.0391       0.0010         0.1      4
721   0.5500 +- 0.1072  0.9650 +- 0.0391       0.0025         0.1      4
761   0.5500 +- 0.1072  0.9650 +- 0.0391       0.0050         0.1      4
801   0.5500 +- 0.1072  0.9650 +- 0.0391       0.0075         0.1      4
841   0.5500 +- 0.1072  0.9650 +- 0.0391       0.0100         0.1      4

[68 rows x 5 columns]