In [1]:
# Reload modules automatically
# https://ipython.readthedocs.io/en/stable/config/extensions/autoreload.html
%load_ext autoreload
%autoreload 2

In [2]:
import utils
import pandas as pd

In [3]:
start_id = 1
end_id = 170
n_seeds = 10
hyperparams = ["regularizer"]
pred_method = "svm"
dataset = "citeseer_binary"
collection= "l_citeseerb_hyper_ntk_gcn" #todo: rename colelction to trn_ntk_gcn
df = utils.get_best_hyperparams(start_id, end_id, n_seeds, hyperparams, 
                           pred_method, dataset, collection, use_seeds=10)
df

---- Details of best experiment ----
ID: 111 ValAcc: 79.00 +- 10.91 TrnAcc: 100.00 +- 0.00 TestAcc: 84.09 +- 3.51
------------------------------------

               ValAcc            TrnAcc  regularizer
111  0.7900 +- 0.1091  1.0000 +- 0.0000       0.7500
121  0.7900 +- 0.1091  1.0000 +- 0.0000       1.0000
131  0.7900 +- 0.1091  1.0000 +- 0.0000       2.5000
141  0.7900 +- 0.1091  1.0000 +- 0.0000       5.0000
151  0.7900 +- 0.1091  1.0000 +- 0.0000       7.5000
161  0.7900 +- 0.1091  1.0000 +- 0.0000      10.0000
91   0.7850 +- 0.1184  0.9950 +- 0.0150       0.2500
101  0.7850 +- 0.1184  0.9950 +- 0.0150       0.5000
81   0.7750 +- 0.1250  1.0000 +- 0.0000       0.1000
71   0.7700 +- 0.1327  1.0000 +- 0.0000       0.0750
61   0.7400 +- 0.1281  0.9900 +- 0.0200       0.0500
51   0.6650 +- 0.1361  0.9900 +- 0.0200       0.0250
1    0.6350 +- 0.1184  0.9900 +- 0.0200       0.0010
11   0.6350 +- 0.1184  0.9900 +- 0.0200       0.0025
21   0.6350 +- 0.1184  0.9900 +- 0.0200       0.0050
31   0.6350 +- 0.1184  0.9900 +- 0.0200       0.0075
41   0.6350 +- 0.1184  0.9900 +- 0.0200       0.0100

In [4]:
start_id = 1
end_id = 170
n_seeds = 10
hyperparams = ["regularizer"]
pred_method = "svm"
dataset = "citeseer_binary"
collection= "l_citeseerb_hyper_ntk_gcn_sym" #todo: rename colelction to trn_ntk_gcn
df = utils.get_best_hyperparams(start_id, end_id, n_seeds, hyperparams, 
                           pred_method, dataset, collection, use_seeds=10)
df

---- Details of best experiment ----
ID: 81 ValAcc: 78.00 +- 9.00 TrnAcc: 99.50 +- 1.50 TestAcc: 84.56 +- 3.18
------------------------------------

               ValAcc            TrnAcc  regularizer
81   0.7800 +- 0.0900  0.9950 +- 0.0150       0.1000
121  0.7600 +- 0.0768  1.0000 +- 0.0000       1.0000
131  0.7600 +- 0.0768  1.0000 +- 0.0000       2.5000
141  0.7600 +- 0.0768  1.0000 +- 0.0000       5.0000
151  0.7600 +- 0.0768  1.0000 +- 0.0000       7.5000
161  0.7600 +- 0.0768  1.0000 +- 0.0000      10.0000
71   0.7550 +- 0.1083  0.9950 +- 0.0150       0.0750
101  0.7550 +- 0.0820  1.0000 +- 0.0000       0.5000
111  0.7550 +- 0.0820  1.0000 +- 0.0000       0.7500
91   0.7500 +- 0.0894  0.9950 +- 0.0150       0.2500
61   0.7250 +- 0.1078  0.9950 +- 0.0150       0.0500
51   0.6200 +- 0.0781  0.9700 +- 0.0458       0.0250
1    0.5650 +- 0.0743  0.9300 +- 0.0954       0.0010
11   0.5650 +- 0.0743  0.9300 +- 0.0954       0.0025
21   0.5650 +- 0.0743  0.9300 +- 0.0954       0.0050
31   0.5650 +- 0.0743  0.9300 +- 0.0954       0.0075
41   0.5650 +- 0.0743  0.9300 +- 0.0954       0.0100

In [5]:
start_id = 1
end_id = 170
n_seeds = 10
hyperparams = ["regularizer"]
pred_method = "svm"
dataset = "citeseer_binary"
collection= "l_citeseerb_hyper_ntk_sgc" #todo: rename colelction to trn_ntk_gcn
df = utils.get_best_hyperparams(start_id, end_id, n_seeds, hyperparams, 
                           pred_method, dataset, collection, use_seeds=10)
df

---- Details of best experiment ----
ID: 131 ValAcc: 82.00 +- 8.72 TrnAcc: 100.00 +- 0.00 TestAcc: 83.38 +- 4.86
------------------------------------

               ValAcc            TrnAcc  regularizer
131  0.8200 +- 0.0872  1.0000 +- 0.0000       2.5000
141  0.8200 +- 0.0872  1.0000 +- 0.0000       5.0000
151  0.8200 +- 0.0872  1.0000 +- 0.0000       7.5000
161  0.8200 +- 0.0872  1.0000 +- 0.0000      10.0000
81   0.8150 +- 0.0896  1.0000 +- 0.0000       0.1000
71   0.8100 +- 0.0860  1.0000 +- 0.0000       0.0750
91   0.8100 +- 0.0995  1.0000 +- 0.0000       0.2500
101  0.8100 +- 0.0995  0.9950 +- 0.0150       0.5000
111  0.8100 +- 0.0995  1.0000 +- 0.0000       0.7500
121  0.8100 +- 0.0995  1.0000 +- 0.0000       1.0000
61   0.8050 +- 0.1128  0.9950 +- 0.0150       0.0500
51   0.7800 +- 0.1308  0.9950 +- 0.0150       0.0250
1    0.7500 +- 0.1225  0.9900 +- 0.0200       0.0010
11   0.7500 +- 0.1225  0.9900 +- 0.0200       0.0025
21   0.7500 +- 0.1225  0.9900 +- 0.0200       0.0050
31   0.7500 +- 0.1225  0.9900 +- 0.0200       0.0075
41   0.7500 +- 0.1225  0.9900 +- 0.0200       0.0100

In [6]:
start_id = 1
end_id = 170
n_seeds = 10
hyperparams = ["regularizer"]
pred_method = "svm"
dataset = "citeseer_binary"
collection= "l_citeseerb_hyper_ntk_sgc_sym" #todo: rename colelction to trn_ntk_gcn
df = utils.get_best_hyperparams(start_id, end_id, n_seeds, hyperparams, 
                           pred_method, dataset, collection, use_seeds=10)
df

---- Details of best experiment ----
ID: 121 ValAcc: 81.50 +- 7.09 TrnAcc: 100.00 +- 0.00 TestAcc: 82.79 +- 4.81
------------------------------------

               ValAcc            TrnAcc  regularizer
121  0.8150 +- 0.0709  1.0000 +- 0.0000       1.0000
131  0.8150 +- 0.0709  1.0000 +- 0.0000       2.5000
141  0.8150 +- 0.0709  1.0000 +- 0.0000       5.0000
151  0.8150 +- 0.0709  1.0000 +- 0.0000       7.5000
161  0.8150 +- 0.0709  1.0000 +- 0.0000      10.0000
71   0.8150 +- 0.0808  0.9950 +- 0.0150       0.0750
81   0.8150 +- 0.0776  0.9950 +- 0.0150       0.1000
101  0.8100 +- 0.0735  0.9950 +- 0.0150       0.5000
111  0.8100 +- 0.0735  1.0000 +- 0.0000       0.7500
61   0.8100 +- 0.0800  0.9950 +- 0.0150       0.0500
91   0.8050 +- 0.0789  0.9950 +- 0.0150       0.2500
51   0.7650 +- 0.1050  0.9900 +- 0.0200       0.0250
1    0.7500 +- 0.1225  0.9850 +- 0.0229       0.0010
11   0.7500 +- 0.1225  0.9850 +- 0.0229       0.0025
21   0.7500 +- 0.1225  0.9850 +- 0.0229       0.0050
31   0.7500 +- 0.1225  0.9850 +- 0.0229       0.0075
41   0.7500 +- 0.1225  0.9850 +- 0.0229       0.0100

In [7]:
start_id = 1
end_id = 170
n_seeds = 10
hyperparams = ["regularizer"]
pred_method = "svm"
dataset = "citeseer_binary"
collection= "l_citeseerb_hyper_ntk_mlp" #todo: rename colelction to trn_ntk_gcn
df = utils.get_best_hyperparams(start_id, end_id, n_seeds, hyperparams, 
                           pred_method, dataset, collection, use_seeds=10)
df

---- Details of best experiment ----
ID: 51 ValAcc: 71.50 +- 8.38 TrnAcc: 100.00 +- 0.00 TestAcc: 73.30 +- 2.43
------------------------------------

               ValAcc            TrnAcc  regularizer
51   0.7150 +- 0.0838  1.0000 +- 0.0000       0.0250
61   0.7150 +- 0.0838  1.0000 +- 0.0000       0.0500
71   0.7150 +- 0.0838  1.0000 +- 0.0000       0.0750
81   0.7150 +- 0.0838  1.0000 +- 0.0000       0.1000
91   0.7150 +- 0.0838  1.0000 +- 0.0000       0.2500
101  0.7150 +- 0.0838  1.0000 +- 0.0000       0.5000
111  0.7150 +- 0.0838  1.0000 +- 0.0000       0.7500
121  0.7150 +- 0.0838  1.0000 +- 0.0000       1.0000
131  0.7150 +- 0.0838  1.0000 +- 0.0000       2.5000
141  0.7150 +- 0.0838  1.0000 +- 0.0000       5.0000
151  0.7150 +- 0.0838  1.0000 +- 0.0000       7.5000
161  0.7150 +- 0.0838  1.0000 +- 0.0000      10.0000
1    0.5150 +- 0.0808  1.0000 +- 0.0000       0.0010
11   0.5150 +- 0.0808  1.0000 +- 0.0000       0.0025
21   0.5150 +- 0.0808  1.0000 +- 0.0000       0.0050
31   0.5150 +- 0.0808  1.0000 +- 0.0000       0.0075
41   0.5150 +- 0.0808  1.0000 +- 0.0000       0.0100

In [8]:
start_id = 1
end_id = 170
n_seeds = 10
hyperparams = ["regularizer"]
pred_method = "svm"
dataset = "citeseer_binary"
collection= "l_citeseerb_hyper_ntk_gin" #todo: rename colelction to trn_ntk_gcn
df = utils.get_best_hyperparams(start_id, end_id, n_seeds, hyperparams, 
                           pred_method, dataset, collection, use_seeds=10)
df

---- Details of best experiment ----
ID: 21 ValAcc: 75.00 +- 10.95 TrnAcc: 99.50 +- 1.50 TestAcc: 79.72 +- 4.66
------------------------------------

               ValAcc            TrnAcc  regularizer
21   0.7500 +- 0.1095  0.9950 +- 0.0150       0.0050
41   0.7500 +- 0.0837  0.9950 +- 0.0150       0.0100
31   0.7500 +- 0.0949  0.9950 +- 0.0150       0.0075
51   0.7450 +- 0.0850  0.9950 +- 0.0150       0.0250
61   0.7450 +- 0.0850  0.9950 +- 0.0150       0.0500
71   0.7450 +- 0.0850  0.9950 +- 0.0150       0.0750
81   0.7450 +- 0.0850  0.9950 +- 0.0150       0.1000
91   0.7450 +- 0.0850  0.9950 +- 0.0150       0.2500
101  0.7450 +- 0.0850  0.9950 +- 0.0150       0.5000
111  0.7450 +- 0.0850  0.9950 +- 0.0150       0.7500
121  0.7450 +- 0.0850  0.9950 +- 0.0150       1.0000
131  0.7450 +- 0.0850  0.9950 +- 0.0150       2.5000
141  0.7450 +- 0.0850  0.9950 +- 0.0150       5.0000
151  0.7450 +- 0.0850  0.9950 +- 0.0150       7.5000
161  0.7450 +- 0.0850  0.9950 +- 0.0150      10.0000
11   0.7300 +- 0.1308  0.9950 +- 0.0150       0.0025
1    0.6750 +- 0.1537  0.9900 +- 0.0200       0.0010

In [9]:
start_id = 1
end_id = 170
n_seeds = 10
hyperparams = ["regularizer"]
pred_method = "svm"
dataset = "citeseer_binary"
collection= "l_citeseerb_hyper_ntk_graphsage" #todo: rename colelction to trn_ntk_gcn
df = utils.get_best_hyperparams(start_id, end_id, n_seeds, hyperparams, 
                           pred_method, dataset, collection, use_seeds=10)
df

---- Details of best experiment ----
ID: 51 ValAcc: 79.50 +- 9.07 TrnAcc: 100.00 +- 0.00 TestAcc: 83.26 +- 2.91
------------------------------------

               ValAcc            TrnAcc  regularizer
51   0.7950 +- 0.0907  1.0000 +- 0.0000       0.0250
61   0.7950 +- 0.0907  1.0000 +- 0.0000       0.0500
71   0.7950 +- 0.0907  1.0000 +- 0.0000       0.0750
81   0.7950 +- 0.0907  1.0000 +- 0.0000       0.1000
91   0.7950 +- 0.0907  1.0000 +- 0.0000       0.2500
101  0.7950 +- 0.0907  1.0000 +- 0.0000       0.5000
111  0.7950 +- 0.0907  1.0000 +- 0.0000       0.7500
121  0.7950 +- 0.0907  1.0000 +- 0.0000       1.0000
131  0.7950 +- 0.0907  1.0000 +- 0.0000       2.5000
141  0.7950 +- 0.0907  1.0000 +- 0.0000       5.0000
151  0.7950 +- 0.0907  1.0000 +- 0.0000       7.5000
161  0.7950 +- 0.0907  1.0000 +- 0.0000      10.0000
31   0.7850 +- 0.1074  1.0000 +- 0.0000       0.0075
41   0.7850 +- 0.1074  1.0000 +- 0.0000       0.0100
21   0.7650 +- 0.1141  1.0000 +- 0.0000       0.0050
11   0.7100 +- 0.1338  0.9950 +- 0.0150       0.0025
1    0.5950 +- 0.1213  0.9900 +- 0.0200       0.0010

In [10]:
start_id = 1
end_id = 170
n_seeds = 10
hyperparams = ["regularizer"]
pred_method = "svm"
dataset = "citeseer_binary"
collection= "l_citeseerb_hyper_ntk_gcn_skippc" #todo: rename colelction to trn_ntk_gcn
df = utils.get_best_hyperparams(start_id, end_id, n_seeds, hyperparams, 
                           pred_method, dataset, collection, use_seeds=10)
df

---- Details of best experiment ----
ID: 71 ValAcc: 79.50 +- 10.11 TrnAcc: 100.00 +- 0.00 TestAcc: 84.68 +- 3.07
------------------------------------

               ValAcc            TrnAcc  regularizer
71   0.7950 +- 0.1011  1.0000 +- 0.0000       0.0750
91   0.7950 +- 0.0850  0.9950 +- 0.0150       0.2500
101  0.7950 +- 0.0850  1.0000 +- 0.0000       0.5000
111  0.7950 +- 0.0850  1.0000 +- 0.0000       0.7500
121  0.7950 +- 0.0850  1.0000 +- 0.0000       1.0000
131  0.7950 +- 0.0850  1.0000 +- 0.0000       2.5000
141  0.7950 +- 0.0850  1.0000 +- 0.0000       5.0000
151  0.7950 +- 0.0850  1.0000 +- 0.0000       7.5000
161  0.7950 +- 0.0850  1.0000 +- 0.0000      10.0000
81   0.7900 +- 0.0943  1.0000 +- 0.0000       0.1000
61   0.7750 +- 0.1101  1.0000 +- 0.0000       0.0500
51   0.7650 +- 0.1074  1.0000 +- 0.0000       0.0250
1    0.6900 +- 0.1179  0.9900 +- 0.0200       0.0010
11   0.6900 +- 0.1179  0.9900 +- 0.0200       0.0025
21   0.6900 +- 0.1179  0.9900 +- 0.0200       0.0050
31   0.6900 +- 0.1179  0.9900 +- 0.0200       0.0075
41   0.6900 +- 0.1179  0.9900 +- 0.0200       0.0100

In [13]:
start_id = 1
end_id = 850
n_seeds = 10
hyperparams = ["regularizer", "alpha"]
pred_method = "svm"
dataset = "citeseer_binary"
collection= "l_citeseerb_hyper_ntk_appnp" #todo: rename colelction to trn_ntk_gcn
df = utils.get_best_hyperparams(start_id, end_id, n_seeds, hyperparams, 
                           pred_method, dataset, collection, use_seeds=10)
df

---- Details of best experiment ----
ID: 441 ValAcc: 78.50 +- 8.38 TrnAcc: 100.00 +- 0.00 TestAcc: 82.56 +- 4.95
------------------------------------

               ValAcc            TrnAcc  regularizer  alpha
441  0.7850 +- 0.0838  1.0000 +- 0.0000       0.5000    0.2
451  0.7850 +- 0.0838  1.0000 +- 0.0000       0.7500    0.2
461  0.7850 +- 0.0838  1.0000 +- 0.0000       1.0000    0.2
471  0.7850 +- 0.0838  1.0000 +- 0.0000       2.5000    0.2
481  0.7850 +- 0.0838  1.0000 +- 0.0000       5.0000    0.2
..                ...               ...          ...    ...
341  0.4900 +- 0.0663  0.8700 +- 0.1552       0.0010    0.2
351  0.4900 +- 0.0663  0.8700 +- 0.1552       0.0025    0.2
361  0.4900 +- 0.0663  0.8700 +- 0.1552       0.0050    0.2
371  0.4900 +- 0.0663  0.8700 +- 0.1552       0.0075    0.2
381  0.4900 +- 0.0663  0.8700 +- 0.1552       0.0100    0.2

[85 rows x 4 columns]

In [14]:
start_id = 1
end_id = 680
n_seeds = 10
hyperparams = ["regularizer", "skip_alpha"]
pred_method = "svm"
dataset = "citeseer_binary"
collection= "l_citeseerb_hyper_ntk_gcn_skipalpha" #todo: rename colelction to trn_ntk_gcn
df = utils.get_best_hyperparams(start_id, end_id, n_seeds, hyperparams, 
                           pred_method, dataset, collection, use_seeds=10)
df

---- Details of best experiment ----
ID: 381 ValAcc: 79.50 +- 10.83 TrnAcc: 100.00 +- 0.00 TestAcc: 84.50 +- 2.51
------------------------------------

               ValAcc            TrnAcc  regularizer  skip_alpha
381  0.7950 +- 0.1083  1.0000 +- 0.0000       0.2500         0.3
421  0.7950 +- 0.1083  1.0000 +- 0.0000       0.5000         0.3
461  0.7950 +- 0.1083  1.0000 +- 0.0000       0.7500         0.3
501  0.7950 +- 0.1083  1.0000 +- 0.0000       1.0000         0.3
541  0.7950 +- 0.1083  1.0000 +- 0.0000       2.5000         0.3
..                ...               ...          ...         ...
1    0.6400 +- 0.1221  0.9900 +- 0.0200       0.0010         0.1
41   0.6400 +- 0.1221  0.9900 +- 0.0200       0.0025         0.1
81   0.6400 +- 0.1221  0.9900 +- 0.0200       0.0050         0.1
121  0.6400 +- 0.1221  0.9900 +- 0.0200       0.0075         0.1
161  0.6400 +- 0.1221  0.9900 +- 0.0200       0.0100         0.1

[68 rows x 4 columns]